body {
  padding: 1rem;
}

.reactSelectContainer {
  width: 30rem;
}

input {
  width: 30rem;
  margin-top: 0.2rem;
  height: 2rem;
  border: 1px solid #CCCCCC;
  border-radius: 2px;

  &.caret {
    background: no-repeat 98% / 1rem url(../../assets/images/icons/caret-down.svg);
  }
  
  &.close {
    background: no-repeat 98% / 1.2rem url(../../assets/images/icons/close.svg);
  }
}

.customInput {
  display: flex;
  flex-direction: column;

  label {
    width: fit-content;
  }
}

.customSuggestionsContainer {
  border: 1px solid #F5F5F5;
  box-shadow: 0px 6px 16px #F5F5F5;
  margin-top: 0.5rem;
  width: 30rem;

  ul {
    margin: 0;
    padding-left: 0;
  }
}

.suggestionsContainerOpen {
  border: 1px solid #F5F5F5;
  box-shadow: 0px 6px 16px #F5F5F5;
  margin-top: 0.5rem;
  width: 30rem;

  ul {
    margin: 0;
    padding-left: 0;
  }
}

.suggestion {
  list-style-type: none;
  padding: 1rem;

}
.highlighted {
  font-weight: 700;
  color: red;
}

.suggestionHighlighted {
  background-color: #F5F5F5;
}

.noResultsContainer {
  border: 1px solid #F5F5F5;
  box-shadow: 0px 6px 16px #F5F5F5;
  margin-top: 0.5rem;
  width: 30rem;
  padding: 1rem 0;
  text-align: center;
}
.noResults {
  font-style: italic;
  color: #999999;
}

input[type="search" i]:enabled:read-write:-webkit-any(:focus, :hover)::-webkit-search-cancel-button {
  opacity: 0;
  pointer-events: auto;
  margin-right: 0.7rem;
  cursor: pointer;
}